//global
//color
$mainColor: #ffc10f;
$navColor: #fdcc45;
$secondaryColor: #141414;
$tertiaryColor: rgb(187, 35, 35);
$headingColor: #ffd101;
$helpColor: rgb(110, 101, 101);
$hoverColor: rgb(255, 255, 255);
//fontFamily
$mainFont: "Source Sans Pro", sans-serif;
$headingFont: 'Sofia Sans Semi Condensed', sans-serif;
//fontSize
$textSm: .8em;
$textMd: 1em;
$textLg: 1.2em;
$textXl: 2em;
//fontWeigth
$fontLight: 100;
$fontBold: 600;
$fontRegular: 400;